/* ==========================================================================
1. Main Colors
========================================================================== */

$primary: #41B883;

/* ==========================================================================
2. Global colors
========================================================================== */

$white: #fff;
$fade-grey: #ededed;
$title-card: #1d1d1d;

$blue-button: #0d50c5;
$h-green: #93e088;

$dark-text: #283252;
$light-text: #a2a5b9;

/* ==========================================================================
4. Fonts
========================================================================== */

$font: 'Montserrat';
$font-alt: 'Open Sans';

/* ==========================================================================
5. Layout
========================================================================== */

$radius-small: 2px;
$radius: 4px;
$radius-rounded: 9999px;

/* ==========================================================================
6. Base Shadows
========================================================================== */

$light-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);

$blue-button-from: rgba($blue-button, 0.42);
$blue-button-box-shadow: 0 14px 26px -12px $blue-button-from;

/* ==========================================================================
7. Resoluciones para media queries
========================================================================== */

$res-1024: 1024px;
$res-1366: 1366px;
$res-1920: 1920px;

/* ==========================================================================
8. Tamaños de fuente para media queries
========================================================================== */

$font-size-1920: 14px;
$font-size-1366: 13px;
$font-size-1024: 12px;

/* ==========================================================================
9. Variables generales
========================================================================== */

$per-1: 1%;
$per-10: 10%;
$per-20: 20%;
$per-30: 30%;
$per-40: 40%;
$per-50: 50%;
$per-60: 60%;
$per-70: 70%;
$per-80: 80%;
$per-90: 90%;
$per-100: 100%;

$pix-1: 1px;
$pix-2: 2px;
$pix-4: 4px;
$pix-5: 5px;
$pix-6: 6px;
$pix-8: 8px;
$pix-12: 12px;
$pix-14: 14px;
$pix-10: 10px;
$pix-19: 19px;
$pix-20: 20px;
$pix-28: 28px;
$pix-32: 32px;
$pix-37: 37px;
$pix-200: 200px;

$weight-200: 200;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;